body {
    font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Iso', cursive;
}
h2 { 
    background-color: red;
    color: yellow;
}
footer, p {
    background-color: red;
    color: yellow;
}


